
.wrapper {
    padding: 20px;
    margin: 20px auto;
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    background-color: var(--card-bg);
    color: var(--text-color);
    width: 100%;
    max-width: 700px;
}