:root {
  /* Variables pour le mode clair */
  --card-bg: whitesmoke;
  --card-color: #333;
  --card-border-color: #7f7f7f;
  --card-hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --card-hover-bg: #c0ffea;
  --text-color: #333;
  --border-radius: 15px;
}

.dark-mode {
  /* Variables pour le mode sombre */
  --card-bg: #2c2c2c;
  --card-color: #f1f1f1;
  --card-border-color: #555;
  --card-hover-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  --card-hover-bg: #444;
  --text-color: #f1f1f1;
}

.main-content {
  padding: 10px 45px;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: auto;
  box-sizing: border-box;
  border: 1px solid var(--card-border-color);
  background-color: var(--card-bg);
  color: var(--text-color);
  margin: 100px auto;
  border-radius: var(--border-radius);
}

.hovered{
  &:hover{
    background-color: var(--card-hover-bg);
  }
}